<div class="rating-stars" style='--font-size:{{ block.settings.size | divided_by: 10.0 }}rem;--alignment:{{ block.settings.alignment }};{% if margins %}--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;{% endif %}' {% if block_attributes %}{{ block.shopify_attributes }}{% endif %}>
  {% if block.settings.scroll_id != blank %}<a href="{{ block.settings.scroll_id }}">{% endif %}
    <div class='rating-stars-and-text font-size--desktop-auto flex-center'>
      <div class="rating-single-star">
        <span class="rating-star-icon">★</span>
        <span class="rating-value">{{ block.settings.rating }}</span>
      </div>
      <span class="rating-stars__label">&nbsp;{{ block.settings.label }}</span>
    </div>
  {% if block.settings.scroll_id != blank %}</a>{% endif %}
</div>